/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* BASE STYLES */

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "lato";
  font-size: 16px;
  letter-spacing: 1px;
  /*margin-top: 90px;*/
}

h1,
h2,
h3,
h4 {
  font-family: "bodoni moda";
  letter-spacing: 2px;
}

section {
  width: 100%;
}

.content-wrapper {
  margin: 10px;
}

/* HEADER - Mobile Styles */

#header {
  background-color: white;
  opacity: .9;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
}

.fixed-nav #header {
  position: fixed;
  margin-bottom: 90px;
}

#header .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#header h2 {
  margin-left: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li,
a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

li:hover {
  color: #1F6B5B;
}

/* HERO AREA - Mobile Styles */

#fullName {
  background-color: #21665C;
  transition-duration: 1s;

}

#fullName:hover {
  opacity: 75%;
  transition-duration: 1s;
}

#fullName .content-wrapper {
  margin: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#fullName h1 {
  padding: 15px;
  color: white;
  letter-spacing: 20px;
  font-size: 1.4em;
  text-transform: uppercase;
  transition-duration: 1s;
}

#fullName h1:hover {
  letter-spacing: 25px;
  transition-duration: 1s;
}

/* ABOUT - Mobile Styles */

#about .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 30px 0 50px 0;
}

figure {
  display: flex;
  justify-content: center;
}

#about img {
  width: 50%;
  min-width: 315px;
}

#about h2 {
  text-align: center;
  font-size: 2em;
}

#about h3 {
  text-align: center;
  color: gray;
  font-size: 1.5em;
}

#about h3 span {
  color: #21665C;
  text-align: right;
}

#about ul {
  display: block;
}

#about li:hover {
  transform: translateX(10px);
  transition: 1s;
}

.bio {
  margin: 0 15px;
}

/* WORK - Mobile Styles */

#work .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#work h2 {
  color: #21665C;
  margin: 20px 0 40px 0;
}

#work img {
  transition-duration: .5s;
  width: 95%;
  transform: scale(0.98); 
}

#work img:hover {
  opacity: 65%;
  transition-duration: .5s;
  transform: scale(1);
}

#projectOne,
#projectTwo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#projectOne h3,
#projectTwo h3 {
  width: 100%;
}

#projectOne h3:hover,
#projectTwo h3:hover {
  color: #21665C;
}

#projectOne p,
#projectTwo p {
  padding-left: 10px;
  width: 100%;
}

#github {
  background-color: #21665C;
  color: white;
  margin-top: 40px;
  padding: 10px 0 20px 0;
  text-transform: bold;
  text-align: center;
  width: 100%;
}

#github a {
  color: white;
  transition-duration: 1s;
}

#github a:hover {
  letter-spacing: .2em;
  transition-duration: 1s;
  }

/* CONTACT - Mobile Styles */

#contact .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px 15px 20px 15px;
}

#contact h2 {
  color: #21665C;
  width: 100%;
  text-align: center;
}

address {
  font-style: normal;
  text-align: center;
  width: 100%;
}

/* FOOTER - Mobile Styles */

#footer .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#contact p {
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

i {
  font-size: 1.6em;
}

i:hover {
  color: #21665C;
}

#button {
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

button {
  background-color: #21665C;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  outline: none;
}

button:hover {
  background-color: gray;
}

button:focus {
  outline: #21665C;
}



.copyright {
  font-size: .8em;
  text-align: center;
  width: 100%;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* TABLET STYLES */

  /*HERO AREA - Tablet Styles*/

  #fullName h1 {
    font-size: 2em;
    letter-spacing: 30px;
  }

  #fullName h1:hover {
  letter-spacing: 32px;
  transition-duration: 3s;
}

  /* ABOUT - Tablet Styles */

  #about .content-wrapper {
    flex-flow: row nowrap;
  }

  figure {
    margin: 15px 0;
    width: 45%;
  }

  #about img {
    width: 80%;
    max-width: 350px;
  }
  

  .bio {
    margin-right: 50px;
    max-width: 600px;
    width: 45%;
  }

  #about h2, #about h3 {
    text-align: left;
  }

  #about ul {
    padding-left: 0;
    display: block;
  }

  /* WORK - Tablet Styles */

  #work .content-wrapper {
    justify-content: space-around;
  }

  #work h2 {
    width: 100%;
    text-align: center;
  }

  #projectOne,
  #projectTwo {
    width: 45%;
    justify-content: flex-start;
  }

  #projectOne {
    padding-top: 20px;
  }

  #projectOne p {
    text-align: left;
  }

  #work img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  /* DESKTOP STYLES */

  /* HERO AREA - Desktop */

  #fullName h1 {
    font-size: 2.5em;
    letter-spacing: 35px;
  }

  #fullName h1:hover {
  letter-spacing: 50px;
  transition-duration: 3s;
}

  /* ABOUT - Desktop Styles */

#about .content-wrapper {
  max-width: 1200px;
  margin-left: 160px;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

